<html>
<head>
<title>Welcome to the image denoiser!</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<p><h1 style="font-family:roboto; font-size:90px; color:black", align="center">&#128247;IMAGE DENOISER&#128247;</h1><p> 
<div class="container">
<div class="row">
    <h1 style="font-size:24px; color:rgb(5, 45, 105)"> Upload an image to denoise it!</h1>
    <p> 
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        </p>
        {% if filename %}
        <div style="padding:20px;">
            <img src="{{  url_for('display_image', filename=filename) }}"> <img src="{{ denoised_filename }}">
        </div>
        {% endif %}
        <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        </p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>
    </form>
</div>
</div>
</body>
</html>